
html,
body {
    height: 100%;
    background-color: #575757;
}

h2 {
    text-align: center;
}

p {
    font-size: large;
}

.footer-color {
    background-color: #212529;
}

.about-text-margin {
    margin-left: 10px;
}

.about-me {
    margin: 5% auto 5% auto; 
    justify-content: center;
    padding: 20px 50px 20px 50px;
}

.portfolio {
    margin: 5% auto 5% auto; 
    justify-content: center;
   /* padding: 20px 50px 20px 50px; */
}

.contact {
    margin: 5% auto 5% auto; 
    justify-content: center;
    padding: 20px 50px 20px 50px;
} 
.white {
    background-color: white;
}

.img-size-min {
    min-width: 383px;
}

.img-thumbnail {
    border-width: 5px;
    border-color: #575757;
    margin: 1%;
    max-width: 525px;
    min-height: 525px;
} 

.test-width{
    max-width: 270px;
}


/*
.footer-height-test {
    height: 50px;
} */

.container-portfolio-width {
    max-width: 520px;
}
/*
@media (max-width: 1199px) {
    .portfolio {
        max-width: 520px;
        padding: 0;
    }
} */

@media (max-width: 575px) {
    .container {
        margin: 0;
        margin-bottom: 20px;
    }
    .img-width-portfolio {
        max-width: 300px;
    }
}