
html,
body {
    height: 100%;
    background-color: #575757;
}

h2 {
    text-align: center;
}

.footer-color {
    background-color: #212529;
}

.about-me {
    margin: 10% auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contact {
    margin: 10% auto 0 auto;
    justify-content: center;
    padding: 20px 50px 20px 50px;
}
.white {
    background-color: white;;
}


.test-width{
    max-width: 270px;
}

.image-width {
    max-width: 500px
}
/*
.footer-height-test {
    height: 50px;
} */

.container-portfolio-width {
    max-width: 520px;
}

@media screen and (max-width: 400px) {

    .h2 {
        
    }
}