/* Assets */
html,
body {
    height: 100%;
    background-color: #575757;
}

h2 {
    text-align: center;
}

p {
    font-size: large;
}

/* Main Container */
.container {
    margin: 5% auto 5% auto;
    padding: 20px 50px 20px 50px;
    background-color: white;
}

.img-size-min {
    min-width: 383px;
}

.img-about-me {
    border-width: 5px;
    border-color: #575757;
    margin: 1%;
    align-items: center;
} 

.img-thumbnail {
    border-width: 5px;
    border-color: #575757;
    margin: 1%;
    max-width: 525px;
    min-height: 525px;
    align-items: center;
} 

.center {
    margin: 0 auto;
    width: 80%;
}

.test-width{
    max-width: 270px;
}

.container-portfolio-width {
    max-width: 520px;
}
@media (max-width: 1999px) {
    .img-about-me {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 575px) {
    .container {
        margin: 0;
        margin-bottom: 20px;
    }
    .img-width-portfolio {
        max-width: 300px;
    }
    .img-about-me {
    }
}

/* Footer */
.footer-color {
    background-color: #212529;
}
